$brown-color: #d87d4a;
$black-one-color: #000000;
$black-two-color: #101010;
$background-black-color: #0e0e0e;
$light-gray-color: #f1f1f1;
$light-and-dark-gray-color: #fafafa;
$brown-light-color: #fbaf85;
$white-color: #ffffff;
$main-ff: "Manrope", sans-serif;
